html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  padding: 0;
  margin: 0;
  background-color: #4e3d53;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  background-color: #0f1123;
}

header h1 {
  font-size: 2em;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  letter-spacing: 0.05em;
  color: #a98b98;
}

header input {
  padding: 10px 20px;
  font-size: 25px;
  margin: 0 1em 0 0;
  border: 0.2em solid #111;
  border-radius: 1em;
  outline: none;
  cursor: pointer;
}

header input::placeholder {
  font-style: italic;
  color: #4e3d53;
}

.wrapper-gallery {
  width: 96vw;
  margin: 0 auto;
  padding: 7em 0 1em;
  position: relative;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.photo-card,
.stats {
  list-style-type: none;
  display: flex;

  padding: 0;
  margin: 0;
}

.photo-card {
  flex-wrap: wrap;
  align-items: flex-start;
  width: 22vw;
  height: 14em;
  margin: 1vw;

  background-color: #a98b98;
  border: 1px solid #555;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.photo-card__image {
  display: block;
  width: 100%;
  height: 75%;

  object-fit: cover;
  overflow: hidden;
}

.stats {
  justify-content: space-around;
  width: 100%;
  height: 25%;
}

.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.btn {
  background: #767e85;
  background: linear-gradient(to top, #a98b98, #4e3d53);
  border-radius: 1em;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 100;
  padding: 13px 20px;
  box-shadow: 0 5px 12px 0 #a98b98;
  text-shadow: 1px 1px 20px #000000;
  border: solid #111111 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.btn:hover {
  background: #111111;
  background-image: linear-gradient(to top, #4e3d53, #a98b98);
  text-decoration: none;
}

.btn-more {
  display: block;
  margin: 1em auto;
}

.is-hidden {
  display: none;
}
